<%- include ('partials/header') %>

<main>
   <div class="ui grid segment ">
       <div class="segment eight wide column">
           <h1>Salutations</h1>
           <p>EJS</p>
       </div>
       <div class="segment eight wide column">
           <h1>Je viens d'apparaître !</h1>
       </div>
   </div>
</main>

<footer>
    <%- include('./partials/footer') %>
</footer>

  </body> 
  
</html>